.product-page {
  padding: 40px;
  background-color: #f1f4f7;
  min-height: 100vh;
  margin:0;
}

.product-card .ant-card-body {
  padding: 15px;
}
.product-card
  .ant-card-body
  .ant-card-meta
  .ant-card-meta-detail
  .ant-card-meta-title {
  color: #ffce68;
}

.action-card {
  display: flex;
  justify-content: end;
  padding: 0 15px;
}
.action-card .details-btn {
  font-size: 14px;
  height: 0;
  padding: 0;
  color: #4255e6;

}
